<app-header></app-header>

<div class="container">
    <div class="confirmation-container">
        <h1 class="login-header">DANH SÁCH SINH VIÊN</h1>
    </div>
    <!--  -->
    <div class="form-search">
        <input type="text"  class="form-control" [(ngModel)]="searchItems" placeholder="Tìm kiếm..." (ngModelChange)="search()">
    </div>
    <!--  -->
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">ID Array</th>
                    <th scope="col">Ảnh</th>
                    <th scope="col" class="text-start">Tên sinh viên</th>
                    <th scope="col">Email</th>
                    <th scope="col">Điện thoại</th>
                    <th scope="col">Ngày sinh</th>
                    <th scope="col">Giới tính</th>
                    <th scope="col">Quê quán</th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let st of students |paginate:{itemsPerPage:8,currentPage:page,totalItems:totalLength} ; let i = index">
                    <td>{{st.id}}</td>
                    <!-- <td>{{i + 1}}</td> -->
                    <td>
                        <img [src]="st.image" alt=""class="product-image">
                    </td>
                    <td>{{st.name}}</td>
                    <td>{{st.email}}</td>
                    <td>{{st.phone}}</td>
                    <td>{{st.dob}}</td>
                    <td>{{st.gender}}</td>
                    <td>{{st.country}}</td>
                    <td>
                        <tr>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#myModal" (click)="editStudent(st)">Sửa</button> |
                            <a class="btn btn-danger" (click)="deleteStudent(st.id)">Xoá</a>
                        </tr>
                    </td>
                    <div class="divider-nospace"></div>
                </tr>
                
            </tbody>
        </table>
        <div class="text-center mt-3">
            <pagination-controls (pageChange)="page=$event"></pagination-controls>
        </div> 
        <div class="text-center mt-3">
           <a class="btn btn-gradient mt-3" type="button" data-bs-toggle="modal" data-bs-target="#myModal" (click)="cancelEdit()">Thêm SV khác</a>
        </div> 
    </div>    
</div>

  <!-- MODAL FORM CHỈNH SỬA -->
<div class="modal" id="myModal" style="padding-top: 30px;">
    <div class="container modal-content modal-dialog" style="padding: 0;">
        <div class="row">
            <form [formGroup]="validateForm">
                <div class="login-form mx-auto">
                    <h2 class="login-header">Quản lí sinh viên</h2>
                    <div class="mt-4"></div>
                    <div class="form-group password-field">
                        <label for="text">Ảnh sinh viên:</label>
                        <input type="file" formControlName="image" id="image" class="form-control" (change)="onFileSelected($event)">
                        <div class="divider-nospace"></div>
                        <small *ngIf="validateForm.get('image')?.hasError('required') && validateForm.get('image')?.touched" class="error">
                            Vui lòng chọn 1 ảnh
                        </small>
                    </div>
                    <div class="mt-4"></div>
                    <div class="form-group password-field">
                        <label for="text">Tên sinh viên:</label>
                        <input type="text" formControlName="name" class="form-control" [(ngModel)]="studentForm.name">
                        <div class="divider-nospace"></div>
                        <small *ngIf="validateForm.get('name')?.hasError('required') && validateForm.get('name')?.touched" class="error">
                            Vui lòng điền tên
                        </small>
                        <small *ngIf="validateForm.get('name')?.hasError('noWhiteSpace') && validateForm.get('name')?.touched" class="error">
                            Không được phép điền ký tự trắng
                        </small>
                    </div>
                    <div class="mt-4"></div>
                    <div class="form-group password-field">
                        <label for="text">Email:</label>
                        <input type="email" formControlName="email" class="form-control" [(ngModel)]="studentForm.email">
                        <div class="divider-nospace"></div>
                        <small *ngIf="validateForm.get('email')?.hasError('email') && validateForm.get('email')?.touched" class="error">
                            Nhập đúng định dạng email
                        </small>
                        <small *ngIf="validateForm.get('email')?.hasError('required') && validateForm.get('email')?.touched" class="error">
                            Vui lòng điền email
                        </small>
                    </div>
                    <div class="mt-4"></div>
                    <div class="form-group password-field">
                        <label for="text">Số điện thoại:</label>
                        <input type="tel" formControlName="phone" class="form-control" [(ngModel)]="studentForm.phone">
                        <div class="divider-nospace"></div>
                        <small *ngIf="validateForm.get('phone')?.hasError('pattern') && validateForm.get('phone')?.touched" class="error">
                            Vui lòng điển đủ 10 số!
                        </small>
                        <small *ngIf="validateForm.get('phone')?.hasError('required') && validateForm.get('phone')?.touched" class="error">
                            Vui lòng điền số điện thoại
                        </small>
                    </div>
                    <div class="mt-4"></div>
                    <div class="mt-4"></div>
                    <div class="form-group password-field">
                        <label for="text">Ngày sinh:</label>
                        <input type="date" formControlName="dob" class="form-control" [(ngModel)]="studentForm.dob">
                        <div class="divider-nospace"></div>
                        <small *ngIf="validateForm.get('dob')?.hasError('required') && validateForm.get('dob')?.touched" class="error">
                            Vui lòng điền dob
                        </small>
                    </div>
                    <div class="mt-4"></div>
                    <div class="form-group password-field">
                        <label for="text">Giới tính:</label>
                        <div class="mt-3"></div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input custom-radio" type="radio" formControlName="gender" id="male" name="gender" [(ngModel)]="studentForm.gender" value="Nam">
                          <label class="form-check-label" for="male">Nam</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input custom-radio" type="radio" formControlName="gender" id="female" name="gender" [(ngModel)]="studentForm.gender" value="Nữ">
                          <label class="form-check-label" for="female">Nữ</label>
                        </div>
                        <div class="mt-3"></div>
                        <div class="divider-nospace"></div>
                    </div>
                    <div class="mt-4"></div>
                    <div class="">
                        <label for="text">Quê quán:</label>
                        <div class="mt-3"></div>
                        <select name="city" id="city" class="form-control" formControlName="country" [(ngModel)]="studentForm.country">
                            <option value="" disabled>Chọn quê quán</option>
                              <option value="Hải Châu">Hải Châu</option>
                              <option value="Thanh Khê">Thanh Khê</option>
                              <option value="Liên Chiểu">Liên Chiểu</option>
                              <option value="Sơn Trà">Sơn Trà</option>
                              <option value="Ngũ Hành Sơn">Ngũ Hành Sơn</option>
                              <option value="Cẩm Lệ">Cẩm Lệ</option>
                              <option value="Hòa Vang">Hòa Vang</option>
                          </select>
                        <div class="mt-3"></div>
                        <div class="divider-nospace"></div>
                        <small *ngIf="validateForm.get('country')?.hasError('required') && validateForm.get('country')?.touched" class="error">
                            Vui lòng điền quê quán
                        </small>
                      </div>
                      <div class="mt-4"></div>
                      <input type="submit" class="login-button" value="Lưu" (click)="isEditing ? updateStudent(studentForm) : addStudent()" [disabled]="!validateForm.valid">
                </div>
            </form>
        </div>
    </div>
</div>
