
.container {
  color: white;
}
.confirmation-container {
  margin: 5px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}
.product-info {
  display: flex;
  align-items: center;
}

.product-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 10px;
}

.product-name {
  color: white;
  margin-right: 10px;
}
table {
  width: 100%;
  border-radius: 10px;
  border: none;
  border-collapse: separate;
  border: 1px solid white;
  border-spacing: 0;
  background-color: rgb(12, 13, 54);
}

th,
td {
  padding: 10px;
  text-align: center;
}
.btn-gradient {
  background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
  color: white;
  border-radius: 30px;
  width: 200px;
}

--------------- .container {
  color: white;
  height: 100vh;
}
.login-form {
  background-color: rgb(12, 12, 55);
  padding: 20px;
  max-width: 500px;
  border: 1px solid rgb(32, 34, 60);
  align-items: center;
  justify-content: center;
}
.login-header {
  text-align: center;
  color: rgb(105, 244, 181);
  margin-bottom: 20px;
}
.form-control {
  background-color: transparent;
  border: none;
  color: white;
}
.form-control:focus {
  color: white;
  background-color: transparent;
  outline: none;
  border-color: transparent;
}

.divider-nospace {
  border-top: 1px solid white;
}

.password-field {
  position: relative;
}
.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: rgb(105, 244, 181);
  cursor: pointer;
}
.checkbox-text {
  color: rgb(243, 165, 42);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
/* Màu checkbox khi được chọn */
.checkbox-text input[type="checkbox"]:checked {
  border-color: white;
  background-color: rgb(233, 66, 178);
}

.form-check-input {
  margin-right: 5px;
}

.register-link {
  color: rgb(105, 244, 181);
  text-decoration: none;
}
.access-right {
  margin-top: 20px;
  width: 200px;
  color: white;
  border: 1px solid rgb(225, 64, 180);
}

.access-right:focus {
  border: 1px solid rgb(225, 64, 180);
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(243, 165, 42, 0.4);
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(243, 165, 42, 0.4);
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(243, 165, 42, 0.4);
}

.login-button {
  background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
  color: white;
  border-radius: 30px;
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
  border: none;
}

.login-button:disabled {
  background: linear-gradient(to right, rgb(131, 131, 131), rgb(143, 143, 143));
  color: white;
  border-radius: 30px;
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
  border: none;
}

.login-button:hover:not(:disabled) {
  opacity: 0.9;
}

.divider {
  height: 1px;
  background-color: rgb(243, 165, 42);
  /* background-color: rgb(105, 244, 181) */
  margin: 20px;
}

select {
  background-color: white; /* Màu nền đen */
  color: black; /* Màu chữ trắng */
  border: none; /* Loại bỏ viền */
}

/* Định dạng tùy chọn option */
option {
  background-color: white; /* Màu nền đen */
  color: black; /* Màu chữ trắng */
}

// CSS Pagination
.paginate {
  padding: 10px; /* Khoảng cách lề bên trong phần tử */
  border-radius: 5px; /* Góc bo tròn cho phần tử */
}

/* Tùy chỉnh giao diện cho pagination-controls */
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Tùy chỉnh giao diện cho các nút trong pagination-controls (ví dụ: màu nền và màu văn bản) */
.pagination-controls button {
  background-color: #007bff; /* Màu nền của nút */
  border: none; /* Loại bỏ viền của nút */
  border-radius: 5px; /* Góc bo tròn cho nút */
  padding: 5px 10px; /* Khoảng cách bên trong nút */
  margin: 0 5px; /* Khoảng cách giữa các nút */
}

/* Tùy chỉnh giao diện cho các nút hover */
.pagination-controls button:hover {
  background-color: #0056b3; /* Màu nền khi hover */
}

// Input Search
.form-control::placeholder {
  /* Chrome.firefox,opera,safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox*/
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11*/
  color: rgba(243, 165, 42, 0.4);
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge*/
  color: rgba(243, 165, 42, 0.4);
}

.form-search {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.form-search > input {
  margin: 20px;
  color: black;
  background-color: white; 
  width: 250px;
}

.form-search {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.form-search > input {
  margin: 20px;color: black; background-color: white; width: 250px;
}


// Định dạng phân trang
